<h1>Viewing Party</h1>
<% if session[:user_id] %>
  <p>You are logged in</p>
  <%= link_to "Log Out", "/logout", method: :delete %><br><br>
<% else %>
  <%= link_to "Login", "/login" %>
  <%= button_to "Create New User", "users/register", method: :get %>
<% end %>

<% if session[:user_id] %>
  <% @users.each do |user| %>
    <%= user.email %>
    <br>
<% end %>
<% end %>
